nav {
    font-family: "LT Internet", sans-serif;
    color: #fff !important;
    background: linear-gradient(
        90deg,
        rgb(44, 54, 139) 0%,
        rgb(4, 165, 79) 100%
    );
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.nav-link:hover {
    color: white;
    border-bottom: 2px solid #f1b12d;
}

.btn {
    color: #f1b12d;
    border: 2px solid transparent;
    transition: color 0.3s;
}

.btn:hover {
    color: #f1b12d;
    border: 2px solid #f1b12d;
}
